{% extends 'base.html.twig' %}

{% block body_id 'gpu_acc_ai_research' %}

{% block title '2016中国计算机大会 GPU 深度学习软件包使用培训邀请函' %}

{% block wx_share_title '2016中国计算机大会 GPU 深度学习软件包使用培训邀请函' %}
{% block wx_share_desc 'NVIDIA也在本次CNCC大会日程的第二天，即10月21日安排了专门针对GPU深度学习软件包的使用培训课程。' %}
{% block wx_share_imgUrl 'http://go.marketingneat.com/sites/default/files/u3/NVlogo.jpg' %}

{% block main %}

<div bgcolor="transparent" data-section-wrapper="" style="background-color: transparent;">
    <center>
    <table bgcolor="transparent" cellpadding="0" cellspacing="0" data-section="" style="background-color: transparent;width:80%;">
    <tbody>
    <tr>
    <td>
    <div data-slot-container="" style="min-height: 30px">
    <div data-slot="text" style="position: relative; left: 0px; top: 0px;">
    <br>
<h2 style="text-align: center;">
    <img class="fr-dib fr-draggable" src="http://www.marketingneat.com/media/images/94893ce18d5ccf7ec09c143e8eabe7b7.png" style="width: 103px; height: 84.1009px;">
</h2>
<p align="center">
    <strong>
    <span style="color: rgb(118, 185,0);">GPU加速人工智能研究
</span>
</strong>
</p>
<p align="center">
    <strong>
    <span style="color: rgb(118, 185,0);">GPU深度学习软件开发包使用培训邀请函
</span>
</strong>
</p>
<p align="center">中国计算机大会(CNCC)，山西·太原 | 2016年10月21日
</p>
<hr>
<p>
    我国计算机领域规模最大、级别最高的学术会议
-2016中国计算机大会（CNCC 2016, <a href="http://cncc.ccf.org.cn/">http://cncc.ccf.org.cn/
</a>）将于10月20-22日在山西太原举行。NVIDIA也在本次CNCC大会日程的第二天，即<strong>
<span style="color: rgb(118, 185, 0);">10月21日
</span>
</strong>安排了专门针对GPU深度学习软件包的使用培训课程，还会有长达80分钟的现场演示部分！<strong>
<span style="color: rgb(118,185,0);">干货满满的免费培训课程，参加
</span>
</strong>
<strong>
    <span style="color: rgb(118,185,0);">CNCC大会的小伙伴们，绝对不容错过^^
</span>
</strong>
</p>
<ul>
    <li>
    <strong>
    <span style="color: rgb(118,185,0);">培训讲师简介
</span>
</strong>
</li>
</ul>
</div>
<div data-slot="text" style="position: relative; left: 0px; top: 0px; text-align: center;">
    <img class="fr-dib fr-draggable" src="https://www.marketingneat.com/media/images/7ec4a39f1ae0911d2537317d2c988d44.jpeg" style="width: 186px; height: 223.2px;">
</div>
<br>
<div data-slot="text" style="position: relative; left: 0px; top: 0px; text-align: left;">周国峰，博士，NVIDIA高性能开发工程师，主要负责支持石油、气象、计算流体力学等领域应用在GPU上的移植和优化，熟悉Caffe，MXNet等深度学习框架，拥有丰富的并行开发经验，一直支持国内著名互联网公司深度学习的开发。<p></p><ul>
    <li>
    <strong>
    <span style="color: rgb(118,185,0);">培训日程
</span>
</strong>
</li>
</ul>&nbsp; 13:30-14:00 注册签到<br>&nbsp; 14:00-14:10 培训开场简介<br>&nbsp; 14:10-14:50 GPU加速深度学习<br>&nbsp; 14:50-15:30 深度学习在目标检测中的应用<br>&nbsp; 15:30-16:50 现场演示：使用DIGITS进行目标检测的4种途径<br>&nbsp; 17:50-17:00 答疑<p></p>
<ul>
    <li>
    <strong>
    <span style="color: rgb(118,185,0);">参与方式
</span>
</strong>
</li>
</ul>2016年10月21日在CNCC会场且对本次培训感兴趣的小伙伴，请按时于下午两点之前到达CNCC大会酒店处的迎泽 晋美轩，我们的活动将于下午两点准时开始！<br>咨询本次活动，请发邮件到emilyz@nvidia.com<br>
<br>
<div style="text-align: center;">
    <strong>
    <span style="color: rgb(118,185,0);">扫一扫或长按二维码，精彩培训内容抢先看！
</span>
</strong>
</div>
<div style="text-align: center;">
    <img class="fr-dib fr-draggable" src="http://www.marketingneat.com/media/images/dfed6bce235f3697e2f55746090d62d4.png" style="width: 300px;">
</div>
<br>
</div>
</div>
</td>
</tr>
</tbody>
</table>
</center>
</div>

{% endblock %}
