{% extends 'base_for_debugging.html.twig' %}

{% block body_id 'gpu_education_center_2016' %}

{% block title 'GPU Education Center 2016' %}

{% block wx_share_title 'GPU Education Center 2016' %}
{% block wx_share_desc '暑假将近，又到了我们 GEC（GPU Education Center）教师相聚的时候了，NVIDIA公司特邀请您参加本次年会。' %}
{% block wx_share_imgUrl 'https://developer.nvidia.com/sites/default/files/GEC%20Badge%20200x200_2.png' %}

{% block main %}

<p><strong>各位老师好，</strong></p>

<p>暑假将近，又到了我们 GEC（GPU Education Center）教师相聚的时候了，NVIDIA公司特邀请您参加本次年会。</p>

<p>今年的年会安排如下：</p>

<ol>
    <li>时间：2016 Aug 21 to 25 . (Aug 21 报到，Aug 24 晚上或者Aug 25 早上离开）</li>
    <li>地点：江苏省苏州市园外楼（苏州市金阊区留园路477号）</li>
    <li>与会人员：每个 GEC 一位教师参加（安排一个独享房间）</li>
    <li>会议内容：
    <ol>
        <li>24个GEC分享各自的 CUDA 教育的新的体会及对 NVIDIA 公司的建议</li>
        <li>评选一个年度最佳 GEC（大家无记名投票，票数最高者入选，奖品待定）</li>
        <li>NVIDIA工程师介绍最新GPU硬件及软件架构变化，Tegra 应用及新产品介绍</li>
        <li>2015~2016年度CUDA及机器人授课教材培训（周斌博士授课）</li>
    </ol>
    </li>
    <li>费用：NVIDIA 公司负责会议期间各位的住宿及餐食</li>
    <li style="color: #F00;"><strong>麻烦请在</strong><strong>8</strong><strong>月</strong><strong>10</strong><strong>日前邮件确认与会人员信息（姓名，手机，邮箱）</strong></li>
</ol>

<p>会议日程如下：</p>

<style>
    table p {
        margin: 0;
    }
    p.day {
        margin: 1.5em;
        font-weight: bold;
        color: #76B900;
        text-decoration: underline;
    }
</style>

<table class="table table-striped table-hover" cellpadding="0" cellspacing="0" style="text-align:center; width:100%;">
    <tbody>
        <tr>
            <td colspan="3">
            <p><strong>2016 NVIDIA GEC Annual Meeting</strong></p>
            </td>
        </tr>
        <tr>
            <td colspan="3">
            <p class="day">21-Aug</p>
            </td>
        </tr>
        <tr>
            <td>
            <p>时间</p>
            </td>
            <td>
            <p>内容</p>
            </td>
            <td>
            <p>负责人</p>
            </td>
        </tr>
        <tr>
            <td>
            <p>8:00 to 18:00</p>
            </td>
            <td>
            <p>Check in</p>
            </td>
            <td rowspan="2">
            <p>Allan Hou</p>
            </td>
        </tr>
        <tr>
            <td>
            <p>18:00 to 20:00</p>
            </td>
            <td>
            <p>welcome dinner</p>
            </td>
        </tr>
        <tr>
            <td colspan="3">
            <p class="day">22-Aug</p>
            </td>
        </tr>
        <tr>
            <td>
            <p>时间</p>
            </td>
            <td>
            <p>内容</p>
            </td>
            <td>
            <p>发言人</p>
            </td>
        </tr>
        <tr>
            <td>
            <p>8:00 to 8:10</p>
            </td>
            <td>
            <p>Opening</p>
            </td>
            <td>
            <p>Maggie Liu</p>
            </td>
        </tr>
        <tr>
            <td>
            <p>8:10 to 12:30</p>
            </td>
            <td>
            <p>experience sharing</p>
            </td>
            <td>
            <p>All GEC teachers</p>
            </td>
        </tr>
        <tr>
            <td>
            <p>14:00 to 18:00</p>
            </td>
            <td>
            <p>trainer training</p>
            </td>
            <td>
            <p>Bin Zhou</p>
            </td>
        </tr>
        <tr>
            <td>
            <p>18:00 to 20:00</p>
            </td>
            <td>
            <p>dinner</p>
            </td>
            <td>
            <p>Allan Hou</p>
            </td>
        </tr>
        <tr>
            <td colspan="3">
            <p class="day">23-Aug</p>
            </td>
        </tr>
        <tr>
            <td>
            <p>时间</p>
            </td>
            <td>
            <p>内容</p>
            </td>
            <td>
            <p>发言人</p>
            </td>
        </tr>
        <tr>
            <td>
            <p>9:00 to 9:50</p>
            </td>
            <td>
            <p>New GPU for AI and VR</p>
            </td>
            <td>
            <p>Huaping Luo</p>
            </td>
        </tr>
        <tr>
            <td>
            <p>9:50 to 10:40</p>
            </td>
            <td>
            <p>SDK update: CUDA /Deep Learning</p>
            </td>
            <td>
            <p>Julien Lai</p>
            </td>
        </tr>
        <tr>
            <td>
            <p>10:40 to 11:30</p>
            </td>
            <td>
            <p>Tegra update and successul referencec (Linux/Android)</p>
            </td>
            <td>
            <p>Ming Li</p>
            </td>
        </tr>
        <tr>
            <td>
            <p>11:30 to 12:00</p>
            </td>
            <td>
            <p>awarding for Best GEC and New GEC plaque, Photo-taking</p>
            </td>
            <td>
            <p>Allan Hou</p>
            </td>
        </tr>
        <tr>
            <td>
            <p>14:00 to 18:00</p>
            </td>
            <td>
            <p>trainer training</p>
            </td>
            <td>
            <p>Bin Zhou</p>
            </td>
        </tr>
        <tr>
            <td>
            <p>18:00 to 20:00</p>
            </td>
            <td>
            <p>dinner</p>
            </td>
            <td>
            <p>Allan Hou</p>
            </td>
        </tr>
        <tr>
            <td colspan="3">
            <p class="day">24-Aug</p>
            </td>
        </tr>
        <tr>
            <td>
            <p>时间</p>
            </td>
            <td>
            <p>内容</p>
            </td>
            <td>
            <p>发言人</p>
            </td>
        </tr>
        <tr>
            <td>
            <p>8:00 to 9:00</p>
            </td>
            <td>
            <p>CUDA curriculum guide</p>
            </td>
            <td>
            <p>Bin Zhou</p>
            </td>
        </tr>
        <tr>
            <td>
            <p>9:00 to 11:00</p>
            </td>
            <td>
            <p>Robotics curriculum guide</p>
            </td>
            <td>
            <p>Bin Zhou</p>
            </td>
        </tr>
        <tr>
            <td>
            <p>11:00 to 11:10</p>
            </td>
            <td>
            <p>Robotics curriculum sharing</p>
            </td>
            <td>
            <p>Meng Zhang</p>
            </td>
        </tr>
        <tr>
            <td>
            <p>11:10 to 11:20</p>
            </td>
            <td>
            <p>Robotics curriculum sharing</p>
            </td>
            <td>
            <p>Zhen Liu</p>
            </td>
        </tr>
        <tr>
            <td>
            <p>11:20:11:30</p>
            </td>
            <td>
            <p>Robotics curriculum sharing</p>
            </td>
            <td>
            <p>Shengke Wang</p>
            </td>
        </tr>
        <tr>
            <td>
            <p>11:30 to 11:40</p>
            </td>
            <td>
            <p>Robotics forum introduction</p>
            </td>
            <td>
            <p>Hawk Chen</p>
            </td>
        </tr>
        <tr>
            <td>
            <p>11:40 to 12:00</p>
            </td>
            <td>
            <p>Wrap-up</p>
            </td>
            <td>
            <p>Allan Hou</p>
            </td>
        </tr>
        <tr>
            <td>
            <p>14:00 to 18:00</p>
            </td>
            <td>
            <p>trainer training</p>
            </td>
            <td>
            <p>Bin Zhou</p>
            </td>
        </tr>
        <tr>
            <td>
            <p>18:00 to 20:00</p>
            </td>
            <td>
            <p>dinner</p>
            </td>
            <td>
            <p>Allan Hou</p>
            </td>
        </tr>
        <tr>
            <td colspan="3">
            <p class="day">21-Aug</p>
            </td>
        </tr>
        <tr>
            <td>
            <p>时间</p>
            </td>
            <td>
            <p>内容</p>
            </td>
            <td>
            <p>负责人</p>
            </td>
        </tr>
        <tr>
            <td>
            <p>8:00 to 12:00</p>
            </td>
            <td>
            <p>Check out</p>
            </td>
            <td>
            <p>Allan Hou</p>
            </td>
        </tr>
    </tbody>
</table>

<p></p>

<p>今年的会议我们聘请苏州吉普讯科技公司协助办理，有关会议住宿事宜，苏州吉普讯公司的工作人员可以协助办理。</p>

<p>苏州吉普讯公司联系人：顾小姐（18915751925），陈先生（18051113057）</p>

{% endblock %}
