{% extends 'base.html.twig' %} {% block body_id 'gpu_education_center_2016' %} {% block title 'GTC China 精彩活动招募参与人员啦！！！' %}
{% block wx_share_title 'GTC China 精彩活动招募参与人员啦！！！' %} {% block wx_share_desc '在GTC China精彩活动-“120分钟与CUDA大咖面对面”中，小伙伴们将有机会与到场的CUDA大咖们交流CUDA开发经验，宝贵的交流机会，就在GTC！'
%} {% block wx_share_imgUrl 'http://images.nvidia.com/cn/wechat/gtc_invitation/wechat_image.png' %} {% block main %}

<style>
    h1, h2{
        text-align:center;
    }
    .body-container #main h2{
        transform: skewX(-30deg);
        background: #76b900;
        color: #fff;
        margin:30px;
        padding: 10px;
    }
    h2 span{
      transform: skewX(30deg);
      display: inline-block;
    }
</style>
<h1>GTC China精彩活动招募参与人员啦！！！</h1>

<h2><span>120分钟与CUDA大咖面对面-邀请函</span></h2>

<p>
    在GTC China精彩活动-“120分钟与CUDA大咖面对面”中，小伙伴们将有机会与到场的CUDA大咖们交流CUDA开发经验，宝贵的交流机会，就在GTC！
    <ul class="list-unstyled">
<li>如果您是CUDA高手，</li>
       <li>如果您想认识当今中国最红的CUDA大咖，</li>
       <li>如果您想当面聆听CUDA大咖的开发体验，</li>
       <li>如果您想得到大咖们手把手的编程指点，</li>
    </ul>
    现在就报名参加“120分钟与CUDA大咖面对面”！ 30席名额，先报先得！参与人员还将有精美小礼品相赠哦^^
</p>

<h2><span>在现场你将见到的CUDA大咖</span></h2>
<div class="row">
    <div class="col-xs-12 col-md-3"><img src="http://images.nvidia.com/cn/wechat/gtc_invitation/wangpeng.png" /><br /><br /></div>
    <div class="col-xs-12 col-md-9">王鹏，NVIDIA HPC 技术开发部高级工程师，从事于GPU多算法并行实现及优化的研究。获南开大学计算科学学士学位，斯坦福大学计算物理学博士学位。</div>
</div>

<br /><br />

<div class="row">
    <div class="col-xs-12 col-md-3"><img src="http://images.nvidia.com/cn/wechat/gtc_invitation/zhoubin.png" /><br /><br /></div>
    <div class="col-xs-12 col-md-9">周斌， NVIDIA CUDA Fellow，BriSky创始人、CTO，中国科学技术大学信息科学技术学院客座研究员，拥有清华大学信息与通信工程学士、硕士、博士学位，以及乔治梅森大学计算机工程硕士学位。曾于NVIDIA任高级研发工程师，是GPU-version GRAPES模型的主要开发者，参与多个GPU相关研究项目，现专注于GPU平台上深度神经网络的研究。</div>
</div>

<br /><br />

<div class="row">
    <div class="col-xs-12 col-md-3"><img src="http://images.nvidia.com/cn/wechat/gtc_invitation/wenzhi.png" /><br /><br /></div>
    <div class="col-xs-12 col-md-9">刘文志，网名风辰，7年异构并行计算和大规模集群计算经验。已出版《并行算法设计与性能优化》、《并行编程方法与优化实践》、《科学计算与企业经应用的并行优化》和《OpenCL异构并行计算》等个人著作。现在商汤集团负责异构并行计算相关业务。</div>
</div>


<h2><span>活动时间&地点</span></h2>

<div class="row">
    <div class="col-xs-12 col-md-6">            <table width="100%">
                <tr>
                    <td valign="top">时间:</td>
                    <td valign="top">2016年9月13日<br /> 11:00 ~13:30</td>
                </tr>
                <tr>
                    <td valign="top">地点:</td>
                    <td valign="top">北京国际饭店<br /> GTC China 120 分钟与CUDA大咖面对面 展台</td>
                </tr>
            </table>
            <br /><br /></div>
    <div class="col-xs-12 col-md-6"><div align="center"><img src="http://images.nvidia.com/cn/wechat/gtc_invitation/map.png" style="width:100%"/></div></div>
</div>


<h2><span>活动日程</span></h2>
<ul>
    <li>11:00-11:30 活动注册签到，领取精美小礼品</li>
    <li>11:30-11:40 活动开篇致辞</li>
    <li>11:40-11:55 CUDA粉丝交流（CUDA论坛版主以及CUDA粉丝自我介绍）</li>
    <li>11:55-12:10 CUDA大咖演讲之王鹏博士篇</li>
    <li>12:10-12:35 CUDA大咖演讲之周斌博士篇</li>
    <li>12:35-12:55 CUDA大咖演讲之风辰篇</li>
    <li>12:55-13:30 问答环节&集体合影&午餐</li>
</ul>

<h2><span>活动参与方式</span></h2>

<p>Step1：注册GTC China （点击下方链接进行注册）<br /> <a href="http://gtc.events.net.cn/reg.asp?e=ahou@nvidia.com&code=SAMKT" target="_blank">
    http://gtc.events.net.cn/reg.asp?e=ahou@nvidia.com&code=SAMKT
</a>
</p>

<p>Step2：发送如下个人信息到邮箱 <a href="mailto:emilyz@nvidia.com?subject=CUDA大咖面对面活动参与">emilyz@nvidia.com</a>
    <ol type="a">
        <li> 姓名</li>
        <li>工作单位</li>
        <li> 手机号码</li>
        <li>从事CUDA开发的时间 （年or 月）</li>
        <li> 研究/从事领域</li>
    </ol>
</p>
<p>
    即使用尽洪荒之力也无法到达现场的小伙伴们，不必沮丧哦，现场直播员会同时视频直播本次活动到CUDA交流QQ群：
</p>
<div class="row">
    <div class="col-xs-12 col-md-6">CUDA Professional （群号：45157483）</div>
    <div class="col-xs-12 col-md-6">GPU 深度开发 （群号：324161737）</div>
</div>
{% endblock %}
